<% provide(:title, "About") %>
  <h1>About</h1>
  <p>  
    Our mission is to glorify Jesus Christ by serving the community of farmers and their customers in accordance with <a href="https://www.biblegateway.com/passage/?search=philippians+2%3A3-4&version=NIV" target="_blank">Philippians 2:3-4</a>. Through our service we seek to provide convenient access to fresher, more nutritious foods at a discount to the customer and premium to the <a href="https://www.biblegateway.com/passage/?search=2+timothy+2%3A6&version=NIV" target="_blank">"hard working farmer"</a>.
  </p>