<% provide(:title, "About") %>
    <h1>About</h1>
    <p>
      <strong><u>Mission</u></strong><br>
      Our mission is to glorify Jesus Christ by serving the community of farmers and their customers in accordance with <a href="https://www.biblegateway.com/passage/?search=philippians+2%3A3-4&version=NIV" target="_blank">Philippians 2:3-4</a>. Through our service we seek to provide access to fresher, more nutritious foods at a discount to the customer and increased profit to the <a href="https://www.biblegateway.com/passage/?search=2+timothy+2%3A6&version=NIV" target="_blank">"hard working farmer"</a>.
    </p>
    <p>
      <strong><u>What We Do</u></strong><br>
      Our goal is to increase convenience to farmers and their customers by having a single centrally located place where many farmers can deliver their food products for later pickup by their customers. We have secure, self serve access to our storage area and tons of dry, cooled and frozen storage. Since access to the storage is self serve via PIN code, the end result is zero schedule synchronization necessary between farmer, customer or Farmer's Cellar. Come whenever you want. Simple!
    </p>