<% provide(:title, "Contact") %>
    <h1>Contact</h1>
    <p>
      <a href="https://www.google.com/maps/place/9827+128th+Ave+NE,+Kirkland,+WA+98033/@47.6885826,-122.1708346,20z/data=!4m2!3m1!1s0x54901298cec29fc9:0x454792d4d42672b5" target="_target">9827 128th AVE NE
      Kirkland, WA 98033</a>
    </p>
    <p>
      <a href="tel:2065886579">206-588-6579</a>
    </p>
    <p>
      <a href="mailto:david@farmerscellar.com">david@farmerscellar.com</a>
      <br>
      <a href="mailto:kellye@farmerscellar.com">kellye@farmerscellar.com</a>
    </p>
    