<% provide(:title, "Help") %>
    <h1>Help</h1>
    <p>
      We will be adding help content as time goes on. Please <%= link_to "contact us", contact_path %> with topics you'd like to see addressed here. Thanks!
    </p>