<div class="center jumbotron">
    <h1>Farmer's Cellar</h1>
    <h2>
    <p>Give more, get more!</p>
</h2>

<% if !logged_in? %>
<%= link_to "Customer sign up", signup_path, class: "btn btn-lg btn-primary" %>
<% end %>
</div>

<div>
  <%= link_to "Browse postings", postings_path %>
</div>

<div>
  <%= link_to "Browse by producer", '#' %>
</div>
  
<div>
  <%= link_to "Browse by product", '#' %>  
</div>
