<% provide(:title, "How Things Work") %>
<% #TODO: finish all content %>
<h1>How Things Work</h1>

<div class="row">
  <div class="col-xs-12 col-sm-3">
    
    <div class="hidden-xs affix" id="help_navigation">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#the_simple_version">The Simple Version</a></li>
        <li><a href="#more_details">More Details</a></li>
        <li><a href="#ordering">Ordering</a></li>
        <li><a href="#paying">Paying</a></li>
        <li><a href="#delivery">Delivery</a></li>
        <li><a href="#questions">Questions</a></li>        
      </ul>
    </div>

    <div class="visible-xs-block">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#the_simple_version">The Simple Version</a></li>
        <li><a href="#more_details">More Details</a></li>
        <li><a href="#ordering">Ordering</a></li>
        <li><a href="#paying">Paying</a></li>
        <li><a href="#delivery">Delivery</a></li>
        <li><a href="#questions">Questions</a></li>        
      </ul>
    </div>
  
  </div>

  <div class="col-xs-12 col-sm-9">

    <div class="anchor" id="the_simple_version">
      <h2>The Simple Version</h2>
      <ol>
        <li>Pre-order online</li>        
        <li>Pickup whenever</li>
      </ol>
    </div>

    <div class="anchor" id="more_details">
      <h2>More Details</h2>      
      <ul>
        <li>We are dropsite based. We don't do any kind of delivery.</li>
        <li>A dropsite is just a common site where products are dropped off so that customers can come to pick them up at their convenience.</li>
        <li>Dropsites are secure and have plenty of dry storage, refrigeration and freezer space.</li>
        <li>We never hold any inventory; every product in our dropsites is already paid for by pre-order customers.</li>        
        <li>You get notified the moment your products arrive at the dropsite so that you can pick up whenever you want.</li>
        <li>Products can arrive on different days since we don't hold them anywhere.</li>
        <li>Feel free to pick up right when products are delivered (for maximum freshness) or wait until all your products arrive and make a single stop (for maximum convenience). You control the balance between convenience and freshness.</li>
      </ul>
    </div>

    <div class="anchor" id="ordering">      
      <h2>Ordering</h2>
      <div class="anchor" id="cutoff">
        <h3>Cutoff</h3>
        <p>This is the latest date and time you can place an order and still get delivery on the date specified. At the moment of the Order Cutoff, the producer gets notified and begins to fill your order. Note, however, that your order will only get submitted to the producer if you've authorized payment by checking out. Items in your shopping tote that haven't been checked out won't get submitted to the producer so they won't get filled.</p>
      </div>

      <div class="anchor" id="cancellation">
        <h3>Cancellation</h3>
        <p>
          You can cancel an order for any product, even after you've checked out. But only up until the 'Order Cutoff'. Beyond the Order Cutoff point any checked out orders become committed. This means that you cannot cancel the order after the order cutoff and you are obligated to pay for the product if the producer delivers on your behalf. The reason for this is to protect the producer from wasting his effort and product on an order that never gets paid on.
        </p>
      </div>
    </div>

    <div class="anchor" id="paying">
      <h2>Paying</h2>
      <p>We accept credit card or Paypal. No cash, no check. Subscriptions require a Paypal account but only email and password are needed to set up. Pretty easy.</p>
    </div>

    <div class="anchor" id="delivery">
      <h2>Delivery</h2>
      <p>Each product posting specifies its delivery date. The exact time of arrival is not known before hand but you'll always be notified by email once the day's deliveries are completed.</p>
    </div>

    <div class="anchor" id="questions">
      <h2>Questions</h2>
      <div>                        

        <h3>Why pre-order only?</h3>
        <p>
          Pre-order eliminates warehouses and inventory. This reduces cost and waste and increases quality, taste, variety and nutrition. Pre-order gets you as close as possible to picking the food right off the vine yourself. Well, U-pick probably would be closer...
        </p>

        <h3>Where does the food come from?</h3>
        <p>
          We're all local. And no, not because 'local' is a fad. We're in to local because proximity fosters relationship. And relationship is important because words like 'organic' and 'natural' don't really convey all the nuances of each farmer. Each farm is different. Each farmer is different. These differences are going to affect the stuff you're putting in your body so we think it's pretty important to know more about where your food is made, how it's made and how it got to you. This is what Farmer's Cellar is all about; helping you know your food, its source and its journey.
        </p>

        <h3>What does 'Local' mean?</h3>
        <p>
          There is no legal definition of 'local'. We define it as however far a truck driver can get and return in a single 12 hour shift. In other words, 6 hours out, 6 hours back. Keeping distances short makes it easier for you to visit the sources of your food which, by the way, we recommend doing. Visiting your farmers makes a wonderful day or weekend trip and makes each subsequent meal a very different experience. Sounds a little corny (pun), but it really is true. Eating food when you personally know the land and people where it came from feels very different than consuming mystery food.
        </p>

      </div>
    </div>

  </div>
</div>