<% provide(:title, "How Things Work") %>

<div class="row">
  <div class="col-md-12">
    <div class="panel-group" id="accordian">
      <div class="panel panel-default">

      
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="body" href="#commitment_zone">What is the "Commitment Zone"?</a>
          </h4>
        </div>
        <div class="panel-collapse collapse" id="commitment_zone">
          <div class="panel-body">
            <p>
              <strong>What</strong>
              <br>The Commitment Zone is the two day period prior to delivery. Any authorized item in your shopping tote becomes "committed" once it is within this two day pre-delivery period. A committed shopping tote item cannot be removed and you must pay for it upon delivery.
            </p>
            <p></p>
            <p>
              <strong>Example 1</strong>
              <br>Say that on Sunday you add an item to your shopping tote but do not authorize it and that this item is scheduled for Friday delivery. No problem. You could leave that item in your shopping tote as is forever and it will never become "committed" because you have not authorized payment for it. You would not be charged nor expected to pay for this item.
            </p>
            <p></p>
            <p>
              <strong>Example 2</strong>
              <br>Say that, like in Example 1, you add an item to your shopping tote and that this item is scheduled for Friday delivery. Only this time you <u>do</u> authorize payment for it. Even after authorizing payment for this item you could still remove it from your shopping tote up until Wednesday at 12:01 AM. But if you leave the item as is, at 12:01 AM on Wednesday the item will become "committed", beyond which you will be expected to pay once the item is delivered.
            </p>
            <p></p>
            <p>
              <strong>Why</strong>
              <br>The reason for this is to protect the producer from preparing your order only to have you cancel and leave him with product he can't sell or use. Think of this two day Commitment Zone as the harvesting and packaging lead time a farmer would need to get your order ready. Within this Commitment Zone this farmer could rest assured that if he delivers product there will be funds waiting for him.
            <p>
          </div>
        </div>


      </div>
  </div>
</div>