<% provide(:title, "How Things Work") %>
<% #TODO: finish all content %>
<h1>How Things Work</h1>

<div class="row">
  <div class="col-md-3">
    
    <div id="help_navigation" class="affix">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#the_simple_version">The Simple Version</a></li>
        <li><a href="#the_detailed_version">The Detailed Version</a></li>
        <li><a href="#commitment_zone">Commitment Zone</a></li>        
      </ul>
    </div>
  
  </div>

  <div class="col-md-9">



    <div class="anchor" id="the_simple_version">
      <h2>The Simple Version</h2>
      <h3>Action Sequence</h3>
      <ol>
        <li>Producers post their products for sale</li>
        <li>You add the products you want to your shopping tote</li>
        <li>You check out</li>
        <li>Your products get delivered to our self serve dropsites</li>
        <li>We notify you via email that your products are ready for pickup</li>
        <li>You pickup whenever you want</li>        
      </ol>
      <h3>Uncommon Aspects</h3>
      Probably the two most important things to be aware of are:
      <ol>
        <li>
          Due to product availability constraints you might not actually get everything you order.
        </li>      
        <li>
          Due to the above, we don't actually charge your payment account when you checkout. We wait to collect payment from your authorization until product actually arrives on your behalf.
        </li>
      </ol>

    </div>



    <div class="anchor" id="the_detailed_version">
      <h2>The Detailed Version</h2>
      <div>                        
        <p>
          We'll flesh this out more as time goes on soon....
        </p>
      </div>
    </div>



    <div class="anchor" id="commitment_zone">
      <h2>Commitment Zone</h2>
      <div>                        
        <p>
          The commitment zone is the two day period prior to delivery in which you can't cancel orders. For example, if you ordered products on Sunday that are scheduled for delivery on Friday, you can only cancel your order up until 11:59 PM on Tuesday. Beginning at 12:00 AM (i.e. midnight) on Wednesday your ordered products are in the "commitment zone" and you are obligated to pay if products are delivered on your behalf.
        </p>
      </div>
    </div>

   

  </div>
</div>