<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=597003080458571";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<h1>News</h1>

<div class="row">    
  <div class="col-xs-12 col-sm-6">
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>What we're up to</h2>
      </div>
      <div class="panel-body">

        <% if @update_time %>      
          <p>Last update: <%= @update_time.strftime("%A, %B %d, %Y") %></p>
        <% end %>

        <p>Horray, harvest 2017 is here!</p>
        <p>We’re adding products like crazy. Around 200 products from 20 producers and just getting started. To see what’s new, click the star icon at the top of the page.</p>
        <div>
            <%
            upload = Upload.find_by(title: "STAR")
            if upload
            %>
              <%= image_tag upload.file_name.large, class: "img-responsive" %>
            <% end %>
        </div>

        <p style="padding-top: 25px;">And make sure to click week buttons and page buttons to see everything.</p>
        <div>
            <%
            upload = Upload.find_by(title: "BUTTONS")
            if upload
            %>
              <%= image_tag upload.file_name.large, class: "img-responsive" %>
            <% end %>
        </div>        

      </div>
    </div>


  </div>

  <div class="col-xs-12 col-sm-6">

      <div class="fb-page" data-href="https://www.facebook.com/farmerscellar" data-tabs="timeline,events,messages,photos" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true">      
        <blockquote cite="https://www.facebook.com/farmerscellar" class="fb-xfbml-parse-ignore">
          <a href="https://www.facebook.com/farmerscellar">Farmer&#039;s Cellar</a>        
        </blockquote>      
      </div>
    </div>
    
  </div>
</div>