<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=597003080458571";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<h1>News</h1>

<div class="row">    
  <div class="col-xs-12 col-sm-6">
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>What we're up to</h2>
      </div>
      <div class="panel-body">
        <p>As of Thursday, October 13th, 2016...</p>
        <h3>Current Work</h3>
        <p>A lot of producers only sell things by the case. But we want you to be able to buy less than a case. So now we’re writing software code to support that. This will allow us to offer a much broader selection of products.</p>
        <h3>Up Next</h3>
        <p>We’ll add a couple more producers and products. Not much for now though, just enough to aid further development. Hopefully over the winter we’ll gain momentum and add lots and lots.</p>
        <h3>Producers</h3>
        <ul>
          <li>Pride and Joy Dairy</li>
          <li>St. John Creamery</li>
        </ul>

        <h3>Products</h3>
        <ul>
          <li>Raw, organic, grass fed milk</li>
          <li>Raw, grass fed goat milk</li>
        </ul>

      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">

      <div class="fb-page" data-href="https://www.facebook.com/farmerscellar" data-tabs="timeline,events,messages,photos" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true">      
        <blockquote cite="https://www.facebook.com/farmerscellar" class="fb-xfbml-parse-ignore">
          <a href="https://www.facebook.com/farmerscellar">Farmer&#039;s Cellar</a>        
        </blockquote>      
      </div>
    </div>
    
  </div>
</div>