<% provide(:title, "Support") %>
<h1>Support</h1>

<div class="row">
  
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">

    <div class="panel-group" id="accordion">

      
      <div class="panel panel-default">        
        <div class="anchor panel-heading" id="order_minimums">
          <h4 class="panel-title">
            <span data-toggle="collapse" data-parent="#accordion" data-target="#orderMinimumsBody">
              Order Minimums<span class="glyphicon glyphicon-chevron-up pull-right"></span>
            </span>
          </h4>
        </div>
        <div id="orderMinimumsBody" class="panel-collapse collapse">
          <div class="panel-body">            
            <div class="anchor" id="have_order_minimums_been_met">
              <h3>How can I Tell if Order Minimums Have Been Met?</h3>
              <p>
                We are working on improving this technology but for now, any time you see a red exclamation point you can click on it to find out more information such as how much more needs to be ordered to achieve the order minimum. In particular, once you've selected product and want to place your order, go to your Tote. Any items with unmet Order Minimums will have a red exclamation point. Click to find out more details. And if you do proceed to order a product with unmet Order Minimums and later want to see if the community has achieved the minimum yet, just log back in to your account and click 'Orders' in the header bar up top. There again you'll see red exclamation points next to any items with unmet minimums. Click the exclamation point to find out how much remains to meet the Order Minimum.
              </p>      
            </div>            
          </div>
        </div>
      </div>



      <div class="panel panel-default">
        <div class="anchor panel-heading" id="detailed_posting_info">
          <h4 class="panel-title">
            <span data-toggle="collapse" data-parent="#accordion" data-target="#detailed_posting_infoBody">
              Detailed Posting Info<span class="glyphicon glyphicon-chevron-up pull-right"></span>
            </span>
          </h4>
        </div>
        <div id="detailed_posting_infoBody" class="panel-collapse collapse">
          <div class="panel-body">
            <p>
              To find out detailed information about each posting, first click on 'Shop' to get to the postings page, then find the posting you're interested in. Each 'posting' is laid out with producer name first, then under that is product name. Each of those names has a little icon to the left...if you click that icon it expands to show more information. Expand these little icons and you should find what you're looking for.
            </p>            
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="anchor panel-heading" id="password_reset_not_working">
          <h4 class="panel-title">
            <span data-toggle="collapse" data-parent="#accordion" data-target="#password_reset_not_workingBody">
              Password Reset Isn't Working<span class="glyphicon glyphicon-chevron-up pull-right"></span>
            </span>
          </h4>
        </div>
        <div id="password_reset_not_workingBody" class="panel-collapse collapse">
          <div class="panel-body">
            <h3>Email Submitted More than Once</h3>
            <p>
              When you submit your email address to reset your password, it can take a minute or two to get an email response from us...probably a bit longer than you're used to. So the trick is to submit your email address <%= link_to "here", new_password_reset_path %> only <u>once</u> and then just wait.
            </p>
            <p>
              And note: it's <u>ONLY</u> the most recent password reset email you receive that will work. All others will fail. So if you have submitted your email address multiple times you must wait until the last email response from our system is received. Than you should be just fine.
            </p>
            <h3>Account not Activated</h3>
            <p>
              Before you can log in or change your password you must first 'activate' your account. You do this by clicking the link that should have been emailed to you when you signed up for a Farmer's Cellar account. If you haven't done this yet, look in your inbox for an email from us with the subject "Account activation". In the email, click the link that says "Activate".
            </p>            
          </div>
        </div>
      </div>



    </div>




    


  </div>
</div>