<h1>Howdy!</h1>

<div class="row">
  <div class="col-xs-12 col-sm-offset-3 col-sm-6">
    <p>As a <%= link_to "local foods buying club", how_things_work_path %> we have wholesale access to <%= link_to "pretty much anything in the state", "http://www.sfmamarkets.com/vendor-list" %>. So....what should we get?</p>
    <p>Anybody can fill our this survey so feel free to forward it.</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-offset-3 col-sm-6">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSemf7yn6BEFnA8BmTKt-gq2O1rtCY1vc4coNquV7dPLlrsVuQ/viewform?embedded=true" width="320" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </div>
</div>