<h1>Where Next?</h1>
<div class="row">

  <div class="col-xs-3">    
  </div>

  <div class="col-xs-3">
    <%= link_to "Continue shopping", postings_path, class: "btn btn-primary btn-block" %>
  </div>

  <div class="col-xs-3">
    <%= link_to "Checkout", tote_items_path, class: "btn btn-primary btn-block" %>
  </div>    

  <div class="col-xs-3">    
  </div>

</div>