<h1>Where Next?</h1>

<div class="row row_spacing visible-xs-block">
  <div class="col-xs-12">
    <%= link_to "Continue shopping", postings_path, class: "btn btn-primary outline btn-block" %>
  </div>
</div>

<div class="row row_spacing visible-xs-block">
  <div class="col-xs-12">
    <%= link_to "Checkout", tote_items_path, class: "btn btn-primary outline btn-block" %>
  </div>    
</div>

<div class="row hidden-xs">

  <div class="col-sm-2">    
  </div>

  <div class="col-xs-4">
    <%= link_to "Continue shopping", postings_path, class: "btn btn-primary outline btn-block" %>
  </div>

  <div class="col-xs-4">
    <%= link_to "Checkout", tote_items_path, class: "btn btn-primary outline btn-block" %>
  </div>    

  <div class="col-sm-2">    
  </div>

</div>