<h1>ToteItems#index</h1>
<p>Find me in app/views/tote_items/index.html.erb</p>

<% tote_items = current_user_current_tote_items %>
<%= render partial: "shared/tote", locals: { tote_items: tote_items } %>

<% if tote_has_items(tote_items) %>
  <div>
	<%= form_tag({controller: "authorization_setups", action: "create"}, method: "post") do %>
	  <%= hidden_field_tag(:amount, total_cost_of_tote_items(tote_items)) %>
	  <%= image_submit_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif") %>
	<% end %>
  </div>
<% end %>