<h1>Shopping Tote</h1>

<% if logged_in? %>  
  <%= render partial: "shared/tote", locals: { tote_items: @tote_items } %>
  <% if tote_has_items(@tote_items) %>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
	      <%= form_tag(checkouts_path) do %>
	        <%= hidden_field_tag(:amount, @total_amount_to_authorize) %>
  	      <%= image_submit_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif", class: 'form-control') %>
	      <% end %>
      </div>  
    </div>
  <% else %>
    <p>Your tote is empty. You need to add some items to your tote in order to see anything here</p>
  <% end %>
<% else %>
  <p>Sorry, you need to log in before you can view the contents of your tote</p>
<% end %>