<h1>Subscription</h1>

<% if @subscription %>
  
    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">

        <div class="panel panel-default">
          <div class="panel-body">
            <p>Your <%= @product_name %> subscription is still active. Your next scheduled delivery is <%= @subscription.get_next_scheduled_delivery_date(@tote_item.posting.delivery_date).strftime("%A %B %d") %>.</p>

            <div>
              <%= link_to "Leave subscription active", tote_items_path, class: 'btn btn-primary btn-lg btn-block fat-finger-spacing' %>
            </div>      

            <div>
              <%= link_to "Change subscription", edit_subscription_path(@subscription), class: 'btn btn-primary btn-lg btn-block' %>
            </div>
          </div>
        </div>

      </div>
    </div>
  
<% end %>