<p>Hi,</p>

<p>
  Welcome to Farmer's Cellar! Click on the link below to activate your account:
</p>

<p>
  <%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
</p>

<p>
  Happy shopping!
</p>

<p>
Farmer's Cellar<br>
<%= link_to "farmerscellar.com/news", news_url %>
</p>