<p>
Hello,
</p>

<p>
You just <%= link_to "successfully authorized payment of #{number_to_currency(@amount)}", @link %>. We'll email you when products are ready for pickup.
</p>

<p>
Thanks!
</p>

<p>
Farmer's Cellar<br>
<%= link_to "farmerscellar.com/news", news_url %>
</p>