<h1>New Access Code Created</h1>

<div class="jumbotron">
  <p class="text-center">Access Code: <%= @access_code.id %></p>
</div>
<p>
  <strong><u>Notes</u></strong>
  <br>
  <%= @access_code.notes %>
</p>