<h1>BulkPayment Creation</h1>

<% if !@messages.nil? && @messages.count > 0 %>
  <h2>Action Messages</h2>
  <ul>

  <% @messages.each do |message| %>
    <li><%= message %></li>
  <% end %>

  </ul>
<% end %>