<h1>Captures#index</h1>
<p>Find me in app/views/captures/index.html.erb</p>

<% if @recent_captures != nil && @recent_captures.any? %>
  Date of Capture
  <br>
  <% @recent_captures.each do |recent_capture| %>
    <p><%= recent_capture %> <%= link_to 'show', capture_path(recent_capture) %> <%= link_to 'edit', edit_capture_path(recent_capture) %></p>
  <% end %>

<% end %>