<% provide(:title, "Pickup") %>

<!-- Modal -->
<div class="modal fade" id="finePolicyModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
        <h2 class="modal-title alert alert-danger">Please be careful!!</h2>
      </div>
      <div class="modal-body">
        <p>
          Every product in this dropsite has been pre-paid by other club members. Please be very careful to only take the product that was delivered for you because if you grab someone else's stuff we have to review our video footage to sort out who took what and fix the situation. This is very time consuming and is inconvenient for the other member who showed up here to pick up only to find their products missing.
        </p>

        <p>
          Also, we can't accept product back once it's been removed from the dropsite so if you take someone else's stuff we have to charge you for it.
        </p>        
      </div>
      <div class="modal-footer">
        <button id="agree" type="button" class="btn btn-lg btn-primary outline btn-kiosk">Got it</button>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-xs-12">    
    <div class="text-center" id="logo" style="font-size: 4.0em;padding-top: 50px;">Farmer's Cellar</div>    
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="text-center" style="padding-top: 25px; padding-bottom: 25px;">
      <span class="local-food-connection">A </span><span id="easy">local</span><span class="local-food-connection"> foods buying club.</span>
    </div>
  </div>
</div>

<div class="row" style="padding-top: 50px;">
	<div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
		<%= form_tag pickups_path, id: "pinForm" do %>
			<%= number_field_tag :pickup_code, nil, id: "pinField", class: 'input-lg fat-finger-spacing btn-kiosk', placeholder: "Tap here first..." %>
		<% end %>
    <%= button_tag "Enter", class: 'btn btn-lg btn-primary outline btn-block btn-kiosk', data: { 
      disable_with: "Please wait...sometimes slow! :(",
      toggle: "modal",
      target: "#finePolicyModal"}
    %>
	</div>
</div>