<% provide(:title, "Pickup") %>

<!-- Modal -->
<div class="modal fade" id="finePolicyModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
        <h2 class="modal-title alert alert-danger">Don't get fined!!!</h2>
      </div>
      <div class="modal-body">
        <p>
          Every product in this dropsite has already been paid for by another customer. If you take product that was not delivered for you then you just took product that belongs to them, not Farmer's Cellar. That customer will only discover you took their product once they arrive here to pick up and find their product missing. If this happens our policy is to compensate them $15 for the inconvenience plus refund to them the missing product amount. We then pass both these charges on to you and place a hold on your Farmer's Cellar account until they're paid.
        </p>

        <p>
          Especially note that sometimes we are only able to partially fill orders. The page you see next will state exactly what product and quantity was delivered for you. Only take that quantity, even if it's less than what you ordered. If you take more the charges discussed above will apply.
        </p>

        <p>
          If you have any doubts whatsoever please knock on the door and we'll be happy to help you.
        </p>

        <p>
          We do not accept returned food. Once you remove food from the dropsite it becomes yours and we'll apply charges if it belonged to someone else.
        </p>

        <p>
          If you do not agree to these terms do not enter the dropsite. Instead, knock on the front door and we will get your products for you and close your Farmer's Cellar account.
        </p>

        <p>
          By entering the dropsite you agree to these terms. Do you agree to these terms?
        </p>
      </div>
      <div class="modal-footer">
        <button id="disagree" type="button" class="btn btn-lg btn-default outline btn-kiosk" data-dismiss="modal">Nope</button>
        <button id="agree" type="button" class="btn btn-lg btn-primary outline btn-kiosk">I agree</button>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-xs-12">    
    <div class="text-center" id="logo" style="font-size: 4.0em;padding-top: 50px;">Farmer's Cellar</div>    
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="text-center" style="padding-top: 25px; padding-bottom: 25px;">
      <span class="local-food-connection">A </span><span id="easy">local</span> foods buying club.<span class="local-food-connection"></span>
    </div>
  </div>
</div>

<div class="row" style="padding-top: 50px;">
	<div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
		<%= form_tag pickups_path, id: "pinForm" do %>
			<%= number_field_tag :pickup_code, nil, id: "pinField", class: 'input-lg fat-finger-spacing btn-kiosk', placeholder: "Tap here first..." %>
		<% end %>
    <%= button_tag "Enter", class: 'btn btn-lg btn-primary outline btn-block btn-kiosk', data: { 
      disable_with: "Please wait...sometimes slow! :(",
      toggle: "modal",
      target: "#finePolicyModal"}
    %>
	</div>
</div>