<% provide(:title, "Pickup") %>
<div class="center jumbotron jumbotron-spacing">
  <h1>Farmer's Cellar</h1>
  <h2>Pickup here</h2>
</div>
<div class="row">
	<div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
		<%= form_tag pickups_path do %>
			<%= number_field_tag :pickup_code, nil, class: 'input-lg fat-finger-spacing', placeholder: "Tap here to enter pickup code..." %>			
			<%= submit_tag "Enter", class: 'btn btn-lg btn-primary form-control' %>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">

		<h1>
		  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#helpBody" aria-expanded="false" aria-controls="helpBody">
		    ?
		  </a>
		</h1>

	</div>
</div>


<div class="row">
	<div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
		<div id="accordion" role="tablist" aria-multiselectable="true">
			<div id="helpBody" class="panel-collapse collapse" role="tabpanel">
				<ul class="list-group">
					<li class="list-group-item">
						<p>Hint: fetch your pickup code from any delivery notification email</p>
					</li>
				</ul>		      
			</div>
		</div>
	</div>
</div>