<% provide(:title, @user.name) %>

<div class="row">
	<aside class="col-md-4">
		<section class="user-info">
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
</div>

<% if current_user.access_code == nil %>
  <%= render partial: "shared/access_code_submission" %>
<% else %>
  <div class="row text-center">
    <%= link_to "Shop!", postings_path, class: "btn btn-lg btn-primary" %>  
  </div>
<% end %>