<% #grab params from local_assigns
  heading = local_assigns[:heading]
  postings = local_assigns[:postings]
%>

<% if postings.any? %>

  <hr class="section-divider" />
  <h2 class="section-heading"><%= heading %></h2>

  <% if postings && postings.any? %>
    <%  
    items_per_row = 2
    num_rows_needed = postings.count / items_per_row
    if postings.count % items_per_row > 0
      num_rows_needed += 1
    end
    row_num = 0
    while row_num < num_rows_needed
      item_index = row_num * items_per_row
    %>
      <div id="postingIndexRow" class="row gutter-10">
        <%= render partial: 'posting_thumbnail', locals: { posting: postings[item_index] } %>

        <% 
        item_index += 1
        if postings.count > item_index
        %>
          <%= render partial: 'posting_thumbnail', locals: { posting: postings[item_index] } %>
        <% end %>

      </div>
    <%
      row_num += 1
    end
    %>
  <% end %>
  
<% end %>