<h1>Tote Items Filled and Not Filled Summary</h1>

<p>
  Filled Count: <%= @tote_items_filled.count %>
  Filled: <%= @tote_items_filled.to_a %>
</p>

<p>
  Not Filled Count: <%= @tote_items_not_filled.count %>
  Not Filled: <%= @tote_items_not_filled.to_a %>
</p>