<% if logged_in? %>
  <% if current_user.access_code == nil %>
    <%= render partial: "shared/access_code_submission" %>
  <% else %>
    <div class="row text-center">
      <% if current_user.account_type == 0 %>
        <p>This is your profile page. We'll fill this out with interesting features as we grow. But for now, try clicking 'Shop' above in the header! :)
      <% else %>
        <div class="col-md-4 col-md-offset-4">
          <%= link_to "Create new posting", new_posting_path(current_user), class: "btn btn-lg btn-primary" %>         
        </div>        
      <% end %>
    </div>
  <% end %>
<% end %>


