<% if active_record_object && active_record_object.errors.any? %>
  <div id="error_explanation">
	<div class="alert alert-danger">
		The form contains <%= pluralize(active_record_object.errors.count, "error")%>.
	</div>
	<ul>
	  <% active_record_object.errors.full_messages.each do |msg| %>
	    <li><%= msg %></li>
	  <% end %>
	</ul>
  </div>
<% end %>