<%
  links = local_assigns[:links]
%>

<div class="row">
  <div class="col-xs-12">    
    <%= link_to "Home", root_path, class: "left-most-header-link header-link" %>
    <%
      index = 0
      while (links && index < links.count)
    %>            
        <span class="header-link"><%= "/ " %></span>
        <%= link_to links[index][:text], links[index][:path], class: "header-link" %>
    <%
        index += 1
      end
    %>            
  </div>
</div>