<%
  links = local_assigns[:links]
%>

<div class="row">
  <div class="col-xs-12">    
    <div style="padding-top: 10px;">
      <%
        index = 0
        while (links && index < links.count)          
      %>
        <% if index > 0 %>
          <span class="header-link"><%= "/ " %></span>
        <% end %>
          <%= link_to links[index][:text], links[index][:path], class: "header-link" %>
      <%
          index += 1
        end
      %>
    </div>
  </div>
</div>