<% #grab params from local_assigns
  action_title = local_assigns[:action_title]
%>

<div class="row">
  <div class="col-xs-12 col-sm-offset-6 col-sm-6">          
        
    <h2><%= action_title %></h2>
    <hr class="section-divider">

    <div>
      <%= yield :action %>
    </div>
    <div class="text-right">
      <%= image_tag "https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_100x26.png" %>
    </div>
    
  </div>
</div>