Hello,
<br>
Here is your message from AdminNotificationMailer->GeneralMessage:
<br>
<% if @body_lines.nil? %>
	<p><%= @body %></p>
<% else %>
	<% @body_lines.each do |body_line| %>
		<p><%= body_line %></p>
	<% end %>
<% end %>
<br>
That is all. Goodbye.
<br>
Website