<h1>Enter Fills</h1>

<div class="row">  
  <div class="col-xs-12">
    <%= link_to "Back", creditor_order_path(@creditor_order) %>
  </div>
</div>

<%= form_tag creditor_order_path(@creditor_order), method: :patch do %>
  
  <%= render partial: 'posting_info_thumbs', locals: { creditor_order: @creditor_order, show_fills_input: true } %>

  <div class="row">  
    <div class="col-xs-12 col-sm-4">
      <%= submit_tag "Update", class: "btn btn-lg btn-primary outline" %>
    </div>
  </div>

<% end %>