<% if @authorization_succeeded %>
<h1>Payment Authorization Complete</h1>
<% else %>
<h1>Payment Authorization Error</h1>
  Something seemed to have gone wrong with your payment authorization. Please <%= link_to "contact us", contact_path %> to get this issue correct. Thank you!
<% end %>