<% if @authorization_succeeded %>
<h1>Payment Authorization Complete</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div>
        <p>You just successfully completed payment authorization for the items listed below. A receipt has been emailed to you.</p>
      </div>
    </div>
  </div>
  
  <%= render partial: "shared/tote", locals: { completed_authorization: @authorization_succeeded, tote_items: @successfully_authorized_tote_items, subscriptions: @successfully_authorized_subscriptions } %>
	
<% else %>
<h1>Payment Authorization Error</h1>
  Something seemed to have gone wrong with your payment authorization. Please <%= link_to "contact us", contact_path %> to get this issue corrected. Thank you!
<% end %>