<h1>BulkPurchases#new</h1>
<p>Find me in app/views/bulk_purchases/new.html.erb</p>

<p>this bulk purchase includes the following purchase_receivables:</p>
<% for purchase_receivable in @bulk_purchase.purchase_receivables %>
  <p>purchase_receivable id: <%= purchase_receivable.id %></p>
<% end %>

<%= form_for @bulk_purchase do |f| %>
  <% for purchase_receivable in @bulk_purchase.purchase_receivables %>
    <%= hidden_field_tag "purchase_receivables[]", purchase_receivable.id %>
  <% end %>
  <%= f.submit "Capture payments" %>
<% end %>