<h1>Dropsites</h1>
<% if @dropsites != nil && @dropsites.any? %>  

<div class="row">
  <div class="col-xs-12">

    <table class="table">
      <thead>
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">City</th>          
          <% if current_user.account_type == User.types[:ADMIN] %>
            <th class="text-center">Edit</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @dropsites.each do |dropsite| %>
          <tr>
            <td class="text-center"><%= link_to dropsite.name, dropsite_path(dropsite) %></td>            
            <td class="text-center"><%= dropsite.city %></td>            
            <% if current_user.account_type == User.types[:ADMIN] %>
              <td class="text-center"><%= link_to "Edit", edit_dropsite_path(dropsite) %></td>
            <% end %>
          </tr>          
        <% end %>
      </tbody>
    </table>  
    
  </div>
</div>  
<% end %>